body {
  padding-top: 56px; /* Navbar fixed top padding */
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #212529;
}

.navbar.dark-mode {
  background-color: #333 !important;
}

.card {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.dark-mode .card, .dark-mode .navbar {
  background-color: #1f1f1f !important;
  color: #ffffff !important;
}

section {
  padding: 80px 0;
}
